.app-container {
  background-color: #e8a286;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: white;
  width: 80%;
  height: 95%;
  border-radius: 35px;
  overflow: hidden;
  overflow-y: auto; 

}

.sidebar-container {
  display: flex;
  height: 100%;
}

.content-container {
  flex: 1;
  padding: 2.5rem;
}

@media only screen and (max-width: 1030px) {
  .sidebar-container {
    display: block;
  }
}




