<div class="containerSidebar">
  <div class="containerIcon">
    <img [src]="icon_sidebar">
    <h2>Portfolio</h2>
  </div>
  <div class="containerPhoto">
    <img [src]="ellipse_photo">
    <h2>Lyssa Lima</h2>
    <h4>Fullstack Developer</h4>
  </div>
  <div class="containerNav">
    <nav>
      <ul>
        <li><a>Dashboard</a></li>
        <li><a>About Me</a></li>
        <li><a>Projects</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="containerPhrase">
    <p>"Because if I can do my best, and I choose to do my possible, I fall into a difficult place called Mediocrity." - Cortella</p>
  </div>
</div>
