<div class="containerSidebar">
  <div class="containerIcon" id="icon"  (click)="toggleContainerNav()">
    <img [src]="icon_sidebar">
    <h2>Portifolio</h2>
  </div>
  <div class="containerPhoto">
    <img [src]="ellipse_photo">
    <h2>Lyssa Lima</h2>
    <h4>Fullstack Developer</h4>
  </div>
  <div class="containerNav" [style.display]="isContainerNavVisible ? 'block' : 'none'">
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a>Sobre Mim</a></li>
        <li><a>Projetos</a></li>
        <li><a>Contato</a></li>
      </ul>
    </nav>
  </div>

  <div class="containerPhrase">
    <p>"Se eu, podendo fazer o meu melhor, me contento com o POSSÍVEL, eu caio num lugar perigoso chamado 'Mediocridade'." - Cortella</p>
  </div>
</div>
